# Ignore Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.vscode/

src/
detectron2/
.idea/


PhagoPred/cellpose_segmentation/Models
PhagoPred/Datasets
PhagoPred/datasets
PhagoPred/detectron_segmentation/Models
PhagoPred/detectron_segmentation/models
temp/

logs/
output/
checkpoints/
*.pth
*.pt
*.ckpt
*.h5
*.hdf5
